extends layout

block content
  h1= title
  p Journey Builder Events
  ul
    each val in myMessages
      li#item-= index + ': ' + val 
        if val instanceof Object
           ul
             each val3, index3 in val
               li#item-= index3 + ': ' + val3
                 if val3 instanceof Object
                   ul
                     each val4, index4 in val3
                       li#item-= index4 + ': ' + val4   