extends layout

block content
  h1= title
  p Journey Builder API Stuff
  p Go to 
    a(href='/interactions/discovery') Discovery
    &nbsp;
    a(href='/interactions/collections') Collections
    &nbsp;
    a(href='/interactions/events') Events
    &nbsp;
    a(href='/interactions/experiment') Experiment