extends layout

block content
  h1= title
  ul
    each val in myMessages
      li= val.name + ' ' 
        a(class="btn",href="/messages/delete/#{val.id}") Delete
        a(class="btn default",href="/messages/send/#{val.id}") Send